[submodule "pySBOLRunner"]
	path = pySBOLRunner
	url = https://github.com/mehersam/pySBOLRunner.git
[submodule "sboljsRunner"]
	path = sboljsRunner
	url = https://github.com/mehersam/sboljsRunner.git
[submodule "SynBioHubRunner"]
	path = SynBioHubRunner
	url = https://github.com/mehersam/SynBioHubRunner.git
[submodule "libSBOLjRunner"]
	path = libSBOLjRunner
	url = https://github.com/mehersam/libSBOLjRunner.git
